html,
body {
  font-family: monospace;
}

.score-container {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 50px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.score-label {
  text-align: center;
  font-size: 16px;
}

.reload {
  position: absolute;
  top: 20px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  background-color: grey;
  width: 150px;
  height: 6px;
}

.reload-bar {
  height: 100%;
}

.dart-container {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 50px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.dart-label {
  font-size: 16px;
}
